/* allgemeine styles */

h1 {
    color: #000;
    text-align: center;
    font-family: "marydale", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
}

p {
    display:block; 
    margin-block-start: 0rem;
    padding-top: 1.5rem;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
}

hr {
    width: auto;
    border-width: 1px;
    border-color: #DADADA;
    margin: 1.5rem;
}

body {
    margin: 0rem;
    font-family: "darkmode-on", sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.56rem;
    box-sizing: border-box;
}

@media (min-width: 768px) {

    body {
        font-size: 1.06rem;
    }

}

@media (min-width: 1280px) {

    body {
        font-size: 1.13rem;
    }

}

main {
    margin: 1.5rem;
    padding-bottom: 3.75rem;
}

img {
    max-width: 100%;
    height: auto;
    padding-bottom: 1.5rem;
}

/* header und hamburger menü mobile */

.logo-mobile {
    width: 6rem;
    height: 6rem;
}

.header-mobile {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 1px 1px #DADADA;
    margin-bottom: 3rem;
}


.logostofflab-mobile {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
}

.logostofflab-mobile span {
    color: rgb(172, 85, 98);
    font-size: 1.5rem;
    font-family: "marydale", sans-serif;
    padding-left: 0.5em;
    text-decoration: none;
}

.linie {
    width: 2.5rem;
    height: 0.25rem;
    background-color: rgb(172, 85, 98);
    border-radius: 0.125rem;
    position: absolute;
}

.einsham {
    top: 0.625rem;
}

.zweiham {
    top: 1.375rem;
}

.dreiham {
    top: 2.125rem;
}

.rahmen {
    width: 2.5rem;
    height: 3rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    margin: 1.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    position: relative;
}

.nav-mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.ul-nav-mobile {
    display: none;
    background-color: #ffffff;
    position: absolute;
    z-index: 99;
    top: 7.19rem;
    right: 0rem;
    left: 0rem;
    text-align: end;
    padding-right: 1.5rem;
}

.ul-nav-mobile a {
    color: rgb(172, 85, 98);
    font-size: 2rem;
    font-family: "marydale", sans-serif;
    line-height: 2;
    text-decoration: none;
}


.ul-nav-mobile-style {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.navaktuell-mobile {
    color: rgb(172, 85, 98);
    font-size: 2rem;
    font-family: "marydale", sans-serif;
    line-height: 2;
    font-weight: 600;
    text-decoration: underline !important;
}


#click:checked~.ul-nav-mobile {
    display: block;
}

#click {
    display: none;
}

#click:checked~label .zweiham {
    opacity: 0;
}

#click:checked~label .einsham {
    transform: rotate(-40deg);
    top: 1.375rem;
    transition: transform 0.5s;
}

#click:checked~label .dreiham {
    transform: rotate(40deg);
    top: 1.375rem;
    transition: transform 0.5s;
}

/* header incl. navigation und logo */

.header {
    display: none;
}

.thatsme p {
    margin: 0rem;
    padding: 0rem;
}

@media (min-width:1280px) {
    .header-mobile {
        display: none;
    }

    .header {
        display: block;
        box-shadow: 0px 1px 0px 1px #DADADA;
        margin-bottom: 3rem;
    }

    .nav {
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5rem;
    }

    .nav ul {
        padding: 0rem;
    }

    .logostofflab {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 1.5rem;
    }

    span {
        color: rgb(172, 85, 98);
        font-size: 2rem;
        font-family: "marydale", sans-serif;
        padding-left: 0.5rem;
    }

    .logo {
        height: 10rem;
        width: auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    nav a {
        color: rgb(172, 85, 98);
        font-size: 1.75rem;
        font-family: "marydale", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-right: 1.3rem;
        margin-left: 1.3rem;
        text-decoration: none;
    }

    nav a:hover {
        color: rgb(172, 85, 98);
        font-size: 1.75rem;
        font-family: "marydale", sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-right: 1.3rem;
        margin-left: 1.3rem;
        text-decoration: none;
    }

    .navaktuell {
        color: rgb(172, 85, 98);
        font-size: 1.75rem;
        font-family: "marydale", sans-serif;
        font-weight: 600;
        text-decoration: underline;
    }
}

/* image und content */



.thatsme img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {

    .imagecontent {
        display: flex;
        flex-direction: column;
    }

    .thatsme {
        display: flex;
        gap: 2rem;
    }

    .thatsme picture {
        flex: 1;
    }

    .thatsme article {
        flex: 1;
        font-size: 1rem;
    }

}

@media (min-width: 1280px) {

    .thatsme {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        width: 60%;
        padding-bottom: 5rem;
    }

    .thatsme picture {
        flex: 1;
    }

    .thatsme article {
        flex: 2;
        font-size: 1.13rem;
    }
}

/* container inhalte */

.leidenschaft {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inhalte {
    display: flex;
    padding: 2.19rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 4rem;
    border: 0.125rem solid #BE6D75;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: "marydale", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

@media (min-width: 768px) {

    .inhalte-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .imagecontent {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inhalte {
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
    }

}

@media (min-width: 1280px) {

    .inhalte-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .inhalte-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-top: 1.5rem;
    }

    .inhalte:hover {
        background-color: rgb(172, 85, 98);
        color: #ffffff
    }

}

/* content image content */

.content-image-content {
    display: flex;
    flex-direction: column;
}

.content-image-content img {
    width: 100%;
    height: auto;
    max-width: 28.125rem;
    align-self: center;
}

.content-image-content section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-picture {
    display: flex;
    justify-content: center;
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
}

.content-image-content-max {
    display: none;
}

@media (min-width: 1280px) {

    .content-image-content {
        display: none;
        align-items: start;
        justify-content: flex-start;
    }

    .content-image-content-max {
        display: unset;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        gap: 2rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .content-image-content-max section {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        gap: 2rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .content-image-content-max picture {
        flex: 1;
    }

    .content-image-content-max article {
        flex: 1;
        font-size: 1.13rem;
    }

    .content-picture {
        padding-top: 0rem;
    }

}

/* project1 */

.h1project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0rem;
    padding-bottom: 2rem;
}

.h1project1 figcaption {
    background-color: silver;
    background-color: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    top: 30%;
    height: 40%;
    bottom: 0;
    width: 100%;
    line-height: 1;
    text-align: center;
}

.textproject1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1project1 picture {
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    max-height: 26.25rem;
    overflow: hidden;
}

@media (min-width: 768px) {

    .h1project1 picture {
        max-height: 29.375rem;
        overflow: hidden;
    }

}

@media (min-width: 1280px) {

    .h1project1 picture {
        max-height: 25rem;
        overflow: hidden;
    }

    .h1project1 {
        width: 100%;
    }

    .textproject1-1 {
max-width: 70rem;
    }

    .project1-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

.img-project1 {
    display: flex;
    justify-content: center;
}

.img-project1 img {
    width: 100%;
    height: auto;
    max-width: 19.5rem;
}

@media (min-width: 768px) {

    article section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2.5rem;
        padding-top: 2.5rem;
    }

}

@media (min-width: 1280px) {

    article section {
        gap: 5rem;
        padding-top: 3.75rem;
    }

}

.texth1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
}

/* projekte */

.projects-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    gap: 24px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    width: 100%;
    max-width: 312px;
    line-height: 1;
    margin: 0rem;
}

figcaption a {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: center;
}

@media (min-width: 1280px) {

    .projects:hover {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        width: 100%;
        max-width: 19.5rem;
        line-height: 1;
        margin: 0rem;
        background-color: rgb(210, 148, 157);
    }

    .projects-all {
        max-width: 70rem;
    }

    .projects-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex img {
        display: flex;
        justify-content: center;
        padding-bottom: 0rem !important;
        /* SCALE */
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        /* VERZÖGERUNG */
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .flex img:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    .overflow {
        overflow: hidden;
    }

}


.flex img {
    display: flex;
    justify-content: center;
    padding-bottom: 0rem !important;
}


/* aside */

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5rem;
    margin-bottom: 3.75rem;
    padding-top: 3.75rem;
}

aside figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside a {
    color: rgb(197, 113, 126);
    font-size: 1.5rem;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    padding-top: 1.5rem;
}

aside a:hover {
    color: rgb(197, 113, 126);
    font-size: 1.5rem;
    font-family: "marydale", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.3;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    padding-top: 1.5rem;
    text-decoration: none;
}

aside p {
    margin: 0px;
    font-family: "darkmode-on", sans-serif;
    color: black;
    font-size: 0.93rem;
    line-height: 1.56rem;
    font-weight: 900;
    text-align: center;
    padding-top: 1.5rem;
    max-width: 45rem;
}

aside img {
    border-radius: 100%;
    max-width: 16.25rem;
}

/* footer */

footer {
    background: #BE6D75;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

footer ul {
    padding: 0rem;
}

.footerclassic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    align-self: center;
    padding-bottom: 1.5rem;
}

.footersocialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

svg {
    width: 2.5rem;
    height: 2.5rem;
}

.cls-1 {
    fill: #ffffff;
    stroke-width: 0rem;
}

footer a {
    color: #ffffff;
    text-align: center;
    font-family: Marydale;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

@media (min-width: 1280px) {

    footer a:hover {
        color: #ffffff;
        text-align: center;
        font-family: Marydale;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
    }

}