/* allgemeine styles */

h1 {
    color: #000;
    text-align: center;
    font-family: "marydale", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
}

hr {
    width: 100%;
    border-width: 1px;
    border-color: #DADADA;
}

body {
    margin: 0px;
    font-family: "darkmode-on", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 200;
    line-height: 25px;
    box-sizing: border-box;
}

@media (min-width: 768px) {

    body {
        font-size: 17px;
    }

}

@media (min-width: 1280px) {

    body {
        font-size: 18px;
    }

}

main {
    margin: 24px;
    padding-bottom: 60px;
}

img {
    max-width: 100%;
    height: auto;
    padding-bottom: 24px;
}

/* header und hamburger menü mobile */

.logo-mobile {
    width: 96px;
    height: 96px;
}

.header-mobile {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 1px 1px #DADADA;
    margin-bottom: 48px;
}


.logostofflab-mobile {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

.logostofflab-mobile span {
    color: rgb(172, 85, 98);
    font-size: 24px;
    font-family: "marydale", sans-serif;
    padding-left: 0.5em;
    text-decoration: none;
}

.linie {
    width: 40px;
    height: 4px;
    background-color: rgb(172, 85, 98);
    border-radius: 2px;
    position: absolute;
}

.einsham {
    top: 10px;
}

.zweiham {
    top: 22px;
}

.dreiham {
    top: 34px;
}

.rahmen {
    width: 40px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 4px;
    margin: 24px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.nav-mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.ul-nav-mobile {
    display: none;
    background-color: #ffffff;
    position: absolute;
    z-index: 99;
    top: 115px;
    right: 0px;
    left: 0px;
    text-align: end;
    padding-right: 24px;
}

.ul-nav-mobile a {
    color: rgb(172, 85, 98);
    font-size: 32px;
    font-family: "marydale", sans-serif;
    line-height: 2;
    text-decoration: none;
}


.ul-nav-mobile-style {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.navaktuell-mobile {
    color: rgb(172, 85, 98);
    font-size: 32px;
    font-family: "marydale", sans-serif;
    line-height: 2;
    font-weight: 600;
    text-decoration: underline !important;
}


#click:checked~.ul-nav-mobile {
    display: block;
}

#click {
    display: none;
}

#click:checked~label .zweiham {
    opacity: 0;
}

#click:checked~label .einsham {
    transform: rotate(-40deg);
    top: 22px;
    transition: transform 0.5s;
}

#click:checked~label .dreiham {
    transform: rotate(40deg);
    top: 22px;
    transition: transform 0.5s;
}

/* header incl. navigation und logo */

.header {
    display: none;
}

@media (min-width:1280px) {
    .header-mobile {
        display: none;
    }

    .header {
        display: block;
        box-shadow: 0px 1px 0px 1px #DADADA;
        margin-bottom: 48px;
    }

    .nav {
        height: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px;
    }

    .nav ul {
        padding: 0px;
    }

    .logostofflab {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 24px;
    }

    span {
        color: rgb(172, 85, 98);
        font-size: 2em;
        font-family: "marydale", sans-serif;
        padding-left: 0.5em;
    }

    .logo {
        height: 10em;
        width: auto;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    nav a {
        color: rgb(172, 85, 98);
        font-size: 28px;
        font-family: "marydale", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-right: 1.3em;
        margin-left: 1.3em;
        text-decoration: none;
    }

    .navaktuell {
        color: rgb(172, 85, 98);
        font-size: 28px;
        font-family: "marydale", sans-serif;
        font-weight: 600;
        text-decoration: underline;
    }
}

/* image und content */

.thatsme img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {

    .imagecontent {
        display: flex;
        flex-direction: column;
    }

    .thatsme {
        display: flex;
        gap: 32px;
    }

    .thatsme picture {
        flex: 1;
    }

    .thatsme article {
        flex: 1;
        font-size: 16px;
    }

}

@media (min-width: 1280px) {

    .thatsme {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60%;
        padding-bottom: 80px;
    }

    .thatsme picture {
        flex: 1;
    }

    .thatsme article {
        flex: 2;
        font-size: 18px;
    }
}

/* container inhalte */

.leidenschaft {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inhalte {
    display: flex;
    padding: 35px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 64.5px;
    border: 2px solid #BE6D75;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: "marydale", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

@media (min-width: 768px) {

    .inhalte-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .imagecontent {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inhalte {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

}

@media (min-width: 1280px) {

    .inhalte-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .inhalte-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
        padding-top: 24px;
    }

    .inhalte:hover {
        background-color: rgb(172, 85, 98);
        color: #ffffff
    }

}

/* content image content */

.content-image-content {
    display: flex;
    flex-direction: column;
}

.content-image-content img {
    width: 100%;
    height: auto;
    max-width: 450px;
    align-self: center;
}

.content-image-content section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-picture {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 60px;
}

.content-image-content-max {
    display: none;
}

@media (min-width: 1280px) {

    .content-image-content {
        display: none;
        align-items: start;
        justify-content: flex-start;
    }

    .content-image-content-max {
        display: unset;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        gap: 32px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .content-image-content-max section {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        gap: 32px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .content-image-content-max picture {
        flex: 1;
    }

    .content-image-content-max article {
        flex: 1;
        font-size: 18px;
    }

}

/* project1 */

.h1project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px;
}

.h1project1 figcaption {
    background-color: silver;
    background-color: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    top: 30%;
    height: 40%;
    bottom: 0;
    width: 100%;
    line-height: 1em;
    text-align: center;
}

.textproject1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1project1 picture {
    width: 100%;
    padding: 0px;
    margin: 0px;
    max-height: 420px;
    overflow: hidden;
}

@media (min-width: 768px) {

    .h1project1 picture {
        max-height: 470px;
        overflow: hidden;
    }

}

@media (min-width: 1280px) {

    .h1project1 picture {
        max-height: 400px;
        overflow: hidden;
    }

}

.img-project1 {
    width: 100%;
    height: auto;
    max-width: 312px;
}

@media (min-width: 768px) {

    article section {
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        padding-top: 40px;
    }

}

@media (min-width: 1280px) {

    article section {
        gap: 80px;
        padding-top: 60px;
    }

}

.texth1 {
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
}

/* projekte */

.projects-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin: 0px;
    padding: 0px;
    gap: 24px;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    gap: 12px;
    width: 100%;
    max-width: 400px;
    line-height: 1;
    margin: 0px;;
}

figcaption a {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: center;
}


.flex {
    display: flex;
    justify-content: center;
    
}


/* aside */

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    margin-bottom: 60px;
    padding-top: 60px;
}

aside figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside a {
    color: rgb(197, 113, 126);
    font-size: 24px;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
    margin-right: 0.6em;
    margin-left: 0.6em;
    padding-top: 24px;
}

aside p {
    margin: 0px;
    font-family: "darkmode-on", sans-serif;
    color: black;
    font-size: 15px;
    line-height: 25px;
    font-weight: 900;
    text-align: center;
    padding-top: 24px;
    max-width: 720px;
}

aside img {
    border-radius: 100%;
    max-width: 260px;
}

/* footer */

footer {
    background: #BE6D75;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer ul {
    padding: 0px;
}

.footerclassic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: center;
    padding-bottom: 24px;
}

.footersocialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

svg {
    width: 40px;
    height: 40px;
}

.cls-1 {
    fill: #ffffff;
    stroke-width: 0px;
}

footer a {
    color: #ffffff;
    text-align: center;
    font-family: Marydale;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}